<!DOCTYPE html>
<html>
  <head>
    <title>登陆成功</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <h1>登陆成功！</h1>
      <li>姓名：<%= userName %></li>
      <li>性别：<%= sex %></li>
	  <li>年龄：<%= age %></li>
      <li>邮箱：<%= email %></li>
      <a href="/logout">退出登录</a>
  </body>
</html>
